[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyTelegramBotAPI = "4.4"
feedparser = "6.0"
beautifulsoup4 = "4.11"
Flask = "2.1"
pyngrok = "5.1"
SQLAlchemy = "1.4"

[dev-packages]

[requires]
python_version = "3"
